// Cosmo 4.5.0
// Bootswatch


// Variables ===================================================================

$web-font-path: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap" !default;
@import url($web-font-path);

// Navbar ======================================================================

// Buttons =====================================================================
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: rgb(75, 84, 114);
}
.btn:focus {
    box-shadow: none;
}

.btn-white {
    color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
}

// Typography ==================================================================

body {
  -webkit-font-smoothing: antialiased;
}

// Tables ======================================================================
.table-black tr:nth-child(even) {
    background-color: rgba(54, 61, 82, 0.23);
}
.table-white tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}
.table-black tr:hover {
    background-color: rgba(75, 84, 114);
}
.table-white tr:hover {
    background-color: rgba(0, 0, 0, 0.25);
}
.table-black thead > tr:hover {
    background-color: unset;
}
.table-white thead > tr:hover {
    background-color: unset;
}

// Forms =======================================================================

// Navs ========================================================================

// Indicators ==================================================================

// Progress bars ===============================================================

.progress {
  @include box-shadow(none);

  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}

// Containers ==================================================================
