.theme {
    border-radius: 50%; 
    height: 26px;
    width: 26px;
}
.background-white {
    background-color: rgb(255, 255, 255);
}
.background-black {
    background-color: rgb(5, 6, 8);
}
.pointer {
    cursor: pointer;
}
a {
    color: inherit;
}